/* ==========================================================================
   Styles for the events archive
   ========================================================================== */

body.post-type-archive-tribe_events {
    /* Search bar
       ========================================================================== */

    .tribe-bar-views-inner,
    #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
        background-color: white;
    }

    #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
        background-color: darken($light, 10%);
    }

    #tribe-bar-form .tribe-bar-submit input[type=submit] {
        background: $red;

        &:hover {
            background-color: darken($red, 5%);
        }
    }

    .tribe-events-list-separator-month span {
        background: darken($light, 2%);
    }

    /* Calendar
       ========================================================================== */

    .tribe-events-calendar div[id*=tribe-events-daynum-], .tribe-events-calendar div[id*=tribe-events-daynum-] a {
        background: $black;
    }

    .tribe-events-past,
    #tribe-events-content .tribe-events-calendar td.tribe-events-othermonth {
        background: darken($light, 10%);
    }

    .tribe-events-present {
        background: white;
    }

    table.tribe-events-calendar {
        th {
            background-color: $red;
            border: none;
        }
    }

    .tribe-events-thismonth.tribe-events-future {
        background: white;
    }

    #tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] > a {
        background: $red;
    }

    .tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-past div[id*="tribe-events-daynum-"] > a,
    .tribe-events-calendar td.tribe-events-othermonth.tribe-events-future div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-othermonth.tribe-events-future div[id*=tribe-events-daynum-] > a {
        background: darken($light, 15%);
        color: $black;
        opacity: 1;
    }

    /* Agenda
       ========================================================================== */

    h3.tribe-events-list-event-title {
        font-family: "Libre Baskerville", Sans-serif;
        margin-bottom: 0;
        font-weight: bold;
    }

    .tribe-event-schedule-details {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .tribe-events-list-event-description {
        padding: 0;
        margin: 0;
    }

    #tribe-events .tribe-events-content p, .tribe-events-after-html p, .tribe-events-before-html p {
        line-height: 1.4em;
        font-size: 16px;
    }

    .tribe-events-event-image {
        padding-top: 5px;
    }

    .tribe-events-list .type-tribe_events {
        margin-bottom: 70px;

        .tribe-events-read-more {
            @extend .button-custom;
        }
    }

    @include mobile {
        .tribe-events-event-meta {
            background: transparent;
            padding: 0;
            border: none;
            margin: 0;
        }

        .tribe-event-schedule-details {
            padding: 0;
            margin: 0 0 10px;
        }

        .tribe-events-venue-details {
            border: none;
            margin: 0;
            padding: 0;
        }
    }
}