/* ==========================================================================
   The main title
   ========================================================================== */

body #ect-events-list-content {
    .ect-events-page-title {
        margin: 0;
    }
}

/* ==========================================================================
   Wrapper styles
   ========================================================================== */

body #ect-events-list-content {
    .ect-list-post {
        margin: 0 0 25px;
        padding: 20px;
        background: $light;
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;

        @include mobile {
            flex-flow: column;
        }


        .ect-list-post-left,
        .ect-list-post-right {
            flex: 0 1 auto;
            width: 100%;
        }

        .ect-list-post-left {
            max-width: calc( 100% / 3 );

            @include mobile {
                max-width: 100%;
            }
        }

        .ect-list-post-right {
            max-width: calc( 100% / 3 * 2 );
            padding: 0 0 0 25px;

            @include mobile {
                max-width: 100%;
                padding: 15px 0 0;

                p {
                    font-size: 16px;
                    line-height: 1.3em;
                }
            }
        }

        .ect-list-img {
            height: 0;
            padding-top: 70%;
            width: 100%;
            position: relative;
        }

        .ect-date-area {
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../images/bannerbkg.jpg);
            color: white !important;
            display: flex;
            flex-flow: column-reverse;
            padding: 20px 20px;
            text-align: center;

            &:after {
                content: "";
                height: 0;
                padding-top: 20%;
                bottom: 3px;
                transform: translateY(100%);
                width: 100%;
                display: block;
                position: absolute;
                background-size: cover;
                background-position: top center;
                left: 0;
                background-image: url(../images/banner.svg);
                background-size: contain !important;
                background-repeat: no-repeat;
            }

            .ev-day,
            .ev-mo {
                display: block;
                line-height: 1em;
            }

            .ev-day {
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 4px;
                font-size: 16px;
            }

            .ev-mo {
                font-weight: bold;
                font-size: 40px;
            }
        }
    }
}

/* ==========================================================================
   Individual bits of content, small styles
   ========================================================================== */

body #ect-events-list-content {
    a {
        color: $red;
    }

    .ect-list-description {
        border: none;
        background: transparent;
    }

    h2.ect-list-title {
        font-family: "Libre Baskerville", Sans-serif;
        margin-bottom: 10px;
        font-weight: bold;

        a {
            color: $black;
            transition: .5s all ease;

            &:hover {
                color: $red;
            }
        }
    }

    .ect-events-read-more {
        @extend .button-custom;
    }
}